

<div #container>
    <mat-drawer-container class="container" autosize [hasBackdrop] = "true">
        <mat-drawer #drawer class="sidenav" mode="side" (click) = "toggleSidenav()">
            <div>
                <button mat-button routerLink="/alunos">          
                    <mat-icon  matTooltip="Tema escuro">person</mat-icon>
                    Alunos
                </button>
            </div>
            <div>
                <button mat-button routerLink="/cursos">
                    <mat-icon  matTooltip="Tema escuro">school</mat-icon>
                    Cursos
                </button>
            </div>
        </mat-drawer>
      
        <div class="sidenav-content" style="height: 100vh">
            <div >
                <app-nav-bar (toggleSidenav) = "toggleSidenav()"></app-nav-bar>
    
                <router-outlet ></router-outlet>
            </div>
        </div>
      
    </mat-drawer-container>
</div>

